<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href=" <%= root_path %>">Blog</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    <ul class="navbar-nav mr-auto">
	    <% if user_signed_in? %>
	      <li class="nav-item">
	        <a class="nav-link" data-method="delete" href="<%= destroy_user_session_path %> ">Log Out</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="<%= new_article_path %> ">New Article</a>
	      </li>

	    <% else %>
	      <li class="nav-item active">
	        <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="<%= new_user_session_path %>">Log in</a>
	      </li>
	    <% end %> 
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
		  <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
		  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
		  <%= submit_tag "Search" %>
		  <% end %>
	    </form>
	  </div>
	</nav>
	<!-- Flash notice -->
  <% unless flash.empty? %>
  <div class="container">
  	<% flash.each do |key, value| %>
  		<%= value %>
  	    <% end %>
  	<% end %>
  </div>
	<div class="container">
		<%= yield %>
	</div>
    
  </body>
</html>
